.document-detail {
  position:relative;
  margin-top:1.9em;
  margin-left:1em;
  padding:1em;
  padding-right:0;
  background:#eee;
  p {
    font-weight:300;
    font-size:95%;
    margin:0 0 .5em;
  }

  h3 {
    margin:.5em 0;
    text-transform:uppercase;
    padding-right: 4px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    p {
      font-weight:bold;
      font-size:100%;
      margin:0;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .metadata {
    p {
      margin:0 .5em 0 0;
      padding:0 .5em 0 0;
      display:inline-block;
      border-right: 1px solid #ccc;
      color:#333;
      &:last-child {
        border-right:0;
        margin:0;
        padding:0;
      }
    }
  }

  &.document-detail-leave {
    opacity: 0.01;
    // transition: opacity .1s ease-in;
  }

  &.document-detail-leave.document-detail-leave-active {
    opacity: 1;
  }
  &.document-detail-enter {
    opacity: 1;
    // transition: opacity .1s ease-in;
  }

  &.document-detail-enter.document-detail-enter-active {
    opacity: 0.01;
  }

  &.document-detail-fixed {
    position: fixed !important;
    top: -.5em !important;
    max-width:740px !important;
    min-width:740px !important;
  }
}
