.search-results {
  dl {
    position:relative;
    margin:1em -1em;
    padding:1em;
    dt {
      text-transform:uppercase;
      position: relative;
      padding-right: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      font-weight:300;
      margin:.5em 0 0;
    }
    &.focused {
      background:#efefef;
      cursor:pointer;
      border-bottom:5px #ddd solid;
      margin-bottom:-5px;
      border-radius:0 0 5px 5px;
      z-index:10;
    }
  }

  .result {
    @for $i from 1 through 360 {
      .highlight#{$i} {
        background-color: hsla($i, 100%, 80%, 1);
      }
    }
  }


  .metadata {
    position:absolute;
    left:0;
    top:-3em;
    padding:.5em 1em;
    background:#ddd;
    border-bottom:1px solid rgba(255,255,255,.8);
    border-radius:3px 3px 0 0;
    width:100%;
    p {
      margin:0 .5em 0 0;
      padding:0 .5em 0 0;
      display:inline-block;
      border-right: 1px solid #ccc;
      color:#333;
      &:last-child {
        border-right:0;
        margin:0;
        padding:0;
      }
    }
  }

  .metadata-leave {
    opacity: 0.01;
    // transition: opacity .1s ease-in;
  }

  .metadata-leave.metadata-leave-active {
    opacity: 1;
  }
  .metadata-enter {
    opacity: 1;
    // transition: opacity .1s ease-in;
  }

  .metadata-enter.metadata-enter-active {
    opacity: 0.01;
  }
}
